@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Kendo/styles/kendo.common.min.css" />
<link rel="stylesheet" href="~/Kendo/styles/kendo.default.min.css" />

<script src="~/Scripts/jquery-2.2.0.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Kendo/js/kendo.all.min.js"></script>

<h2>Index</h2>
<p>Logging to azure..</p>
